
*.xml

BigNumber.iml

out/META-INF/MANIFEST.MF

out/production/BigNumber

out/artifacts/BIgNumberLibrary

*.DS_store

out/production/BigNumber/META-INF/MANIFEST.MF

Appunti.rtf

BigNumbers.iml

*.class

out/production/BigNumber/com/core/Main.class

out/artifacts/BigNumbersTEST/META-INF/MANIFEST.MF

out/artifacts/BigNumbersLibrary/META-INF/MANIFEST.MF
